#cart-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #7495d7;
  padding: 10px;
  justify-content: space-around; 
  gap: 10px; 
  box-sizing: border-box;
  max-width: 1200px; 
  margin: 0 auto; 
}

.cart-item {
  padding: 8px;
  flex: 0 1 calc(20% - 16px); 
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 180px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.cart-item h2 {
  font-size: 14px;
}

.cart-item p {
  font-size: 12px;
  margin: 4px 0;
}

button {
  color: white;
  background-color: #ffcc00;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 4px;
  width: fit-content; 
  margin: 0 auto; 
}

button:hover {
  background-color: #ffa41c;
}