* {
    font-family: Calibri;
    font-weight: bold;
}

body {
    margin: 30px;
    padding: 10px;
    background: linear-gradient(180deg, #A18CE6 30%, #E1DBFF 70%);
}

.choose {
    margin-bottom: 20px;
}

.item {
    margin-top: 20px;
}