#product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#items-header {
  text-align: center; 
  font-size: 2rem;    
  margin: 20px 0;     
}

.product {
    margin: 10px;
    padding: 10px;
    width: 300px;

    border: 1px solid #000;
    border-radius: 5px;

    text-align: center;
    width: 250px;
}

.add-to-cart {
    margin: 10px;
    padding: 10px;
    width: 10vw;

    border: 1px solid #000;
    border-radius: 5px;

    text-align: center;

    background-color: #f0c14b;
    border: 1px solid #a88734;
    border-radius: 5px;
    color: #111;
    text-align: center;
    cursor: pointer;

    transition: background-color 0.3s ease, box-shadow 0.3s ease;
} 

